.img{
    width: 100%;
    filter: brightness(70%);
}

.img, .face{
    padding-top: 60px;
}
body {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

a{
    color: white;
}
nav {
    background-color: #000000e3;
    padding: 20px 60px;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
}
nav a{
    text-decoration: none;
    margin: 5px 20px;
    font-size: 120%;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
} 

.background {
    position: relative;
}

.name {
    text-align: center;
    position: absolute;
    top: 40%;
    left: 45%;
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: white;
    font-size: 60px;
    animation: fade 3s ;
    transition: font-size 0.3s ;
    z-index: 10;
    transform: translate(-40%,-40%);
}

@keyframes fade{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
    
}

.face{
    position: absolute;
    width: 60%;
    left: 24.5%;
    top: 4.3%;
    z-index: 1;
    filter: brightness(70%);
}

* {
  box-sizing: border-box;
}

img {
  vertical-align: middle;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.kanit-thin {
  font-family: "Kanit", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.kanit-light {
  font-family: "Kanit", sans-serif;
  font-weight: 300;
  font-style: normal;
}
